{% if product.available %}
    <div class="price__element text-gray-600 {{ class }}">
        {% if product.compare_at_price > product.price %}
        <div class="price__element-sale">
            <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
            {{ product.price | money }} <s class="text-red-700">{{ product.compare_at_price | money }}</s>
        </div>
        {% elsif product.price_varies %}
            <div class="price__element-varies">
            From {{ product.price_min | money }} to {{ product.price_max | money }}
            </div>
        {% else %}
            <div class="price__element-normal">
                <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
                {{ product.price | money }}
            </div>
        {% endif %}
    </div>
{% endif %}