{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (optional)
    - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_rating: {Boolean} Show the product rating. Default: false
    - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    Usage:
    {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}


{%- if card_product and card_product != empty -%}
  <a href="{{ card_product.url }}" class="card-wrapper border group block">
    <div class="card">

        {% if card_product.featured_media %}
          {% assign image_class = '' %}
          {% if card_product.media[1] != blank and show_secondary_image %}
            {% assign image_class = image_class | append: 'group-hover:hidden' %}
          {% endif %}
          <div class="card_image">
            {{ card_product.featured_media | image_url: width: 900 | image_tag: loading: 'lazy', class: image_class }}
            {% if card_product.media[1] != blank and show_secondary_image %}
              {{ card_product.media[1] | image_url: width: 900 | image_tag: loading: 'lazy', class: 'hidden group-hover:block' }}
            {% endif %}
          </div>
        {% else %}
          <div class="card_image">
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {% endif %}

        <h3 class="card__title p-2">
          {{ card_product.title }}
        </h3>

        {% render '_price-element', product: card_product, class: 'px-2 pb-2' %}
        
    </div>
  </a>
{%- else -%}
<div class="card-wrapper border group">
  <div class="card">
      <div class="card_image">
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>

      <h3 class="card__title p-2">
        Product Title
      </h3>

      <div class="price__element px-2 pb-2 text-gray-600">
        <div class="price__element-normal">
          $0.00
        </div>
      </div>
  </div>
</div>
{%- endif -%}
