<!-- This example requires Tailwind CSS v2.0+ -->
<div class="fixed inset-0 overflow-hidden z-20"
    x-data="{ showMenu: false }"
    x-show="showMenu"
    @toggle-menu.window="showMenu = !showMenu"
     aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
    <div class="absolute inset-0 overflow-hidden">
      
      <div class="absolute inset-0 bg-gray-500 bg-opacity-75" x-show="showMenu" x-transition.opacity @click="showMenu = false" aria-hidden="true"></div>
      <div class="fixed inset-y-0 left-0 max-w-full flex">
       
        <div class="relative w-screen max-w-xs md:max-w-md" 
            x-show="showMenu"
            x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700" 
            x-transition:enter-start="-translate-x-full opacity-0" 
            x-transition:enter-end="translate-x-0 opacity-100" 
            x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700" 
            x-transition:leave-start="translate-x-0" 
            x-transition:leave-end="-translate-x-full opacity-0"
            >
          <div class="absolute top-0 right-0 -mr-8 pt-4 pl-2 flex sm:-mr-10 sm:pl-4">
            <button type="button" 
                @click="showMenu = false" 
                class="rounded-md text-white hover:text-white focus:outline-none focus:ring-2 focus:ring-white">
              <span class="sr-only">Close panel</span>
              <!-- Heroicon name: outline/x -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
  
          <div class="h-full flex flex-col py-6 bg-white shadow-xl overflow-y-scroll">
            <div class="px-4 sm:px-6">
              {% render 'search-input' %}
            </div>
            <div class="mt-6 relative flex-1 px-4 sm:px-6">
                <ul role="list" class="text-black">
                    {%- for link in section.settings.menu.links -%}
                        <li>
                            {%- if link.links != blank -%}
                                <noscript>
                                    <a href="{{ link.url }}" class="header__menu-item animate-link"{% if link.current %} aria-current="page"{% endif %}>
                                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                                    </a>
                                </noscript>

                                <div 
                                    x-data="{ openSubMenu: false }"
                                    x-cloak
                                    class="{% if has_sub_menu %} has-sub-menu {% endif %}">

                                    <div class="flex justify-between items-center" :class="{ 'menu-active': openSubMenu }">
                                        <a href="{{ link.url }}"
                                            class="w-1/2 py-3 text-base inline-flex items-center"
                                            {% if link.current %} aria-current="page"{% endif %}>
                                            {{ link.title | escape }}
                                        </a>
                                        <button type="button" @click.prevent="openSubMenu = !openSubMenu"
                                                title="Toggle menu"
                                                class="w-1/2 text-right relative overflow-hidden">
                                                {% render 'icon-arrow-right', class: "h-6 transform rotate-90 ml-auto" %}
                                        </button>

                                    </div>
                    
                                    <div class="navigation__submenu bg-white" x-collapse x-show="openSubMenu">
                                        <ul class="border-l ml-3 pl-2">
                                            {% for submenu in linklists[link.handle].links %}
                                                {% if submenu.title != 'megamenu' %}
                                                    <li>
                                                        <a href="{{ submenu.url }}" class="w-full py-3 block text-sm animate-link">
                                                            <span class="inline-flex items-center">
                                                                {{ submenu.title  }}
                                                            </span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    
                                </div>                                        

                            {%- else -%}
                                <a href="{{ link.url }}" class="w-full py-3 block text-base animate-link"{% if link.current %} aria-current="page"{% endif %}>
                                    <span {%- if link.current %} class="header__active-menu-item" {% endif %}>
                                        {{ link.title | escape }}
                                    </span>
                                </a>                                    
                            {% endif %}
                        </li>
                    {%- endfor -%}
                </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>
  